:root {
  --_16q18zo0: #ececec;
  --_16q18zo1: #dadada;
  --_16q18zo2: #919090;
  --_16q18zo3: #6c6b6b;
  --_16q18zo4: #474646;
  --_16q18zo5: rgba(71, 70, 70, 0.1);
  --_16q18zo6: rgba(71, 70, 70, 0.2);
  --_16q18zo7: rgba(71, 70, 70, 0.6);
  --_16q18zo8: #e6e6e6;
  --_16q18zo9: #767676;
  --_16q18zoa: #787878;
  --_16q18zob: rgba(255, 255, 255, 0.1);
  --_16q18zoc: rgba(255, 255, 255, 0.2);
  --_16q18zod: rgba(255, 255, 255, 0.6);
  --_16q18zoe: rgba(255, 255, 255, 0.8);
  --_16q18zof: #ffffff;
  --_16q18zog: #000000;
  --_16q18zoh: lightgray;
  --_16q18zoi: lightblue;
  --_16q18zoj: rgba(0, 113, 227, 0.5);
  --_16q18zok: #d32600;
  --_16q18zol: mistyRose;
  --_16q18zom: green;
  --_16q18zon: #cacaca;
  --_16q18zoo: var(--colors-promoBarBackground);
  --_16q18zop: var(--colors-pdpBackground);
  --_16q18zoq: rgb(242, 246, 247);
  --_16q18zor: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  --_16q18zos: #f5f5f5;
  --_16q18zot: rgba(0, 0, 0, 0.2);
  --_16q18zou: 0px;
  --_16q18zov: 2px;
  --_16q18zow: 4px;
  --_16q18zox: 6px;
  --_16q18zoy: 8px;
  --_16q18zoz: 10px;
  --_16q18zo10: 12px;
  --_16q18zo11: 16px;
  --_16q18zo12: 20px;
  --_16q18zo13: 24px;
  --_16q18zo14: 28px;
  --_16q18zo15: 32px;
  --_16q18zo16: 36px;
  --_16q18zo17: 40px;
  --_16q18zo18: 48px;
  --_16q18zo19: 56px;
  --_16q18zo1a: 64px;
  --_16q18zo1b: 72px;
  --_16q18zo1c: 96px;
  --_16q18zo1d: 120px;
  --_16q18zo1e: 144px;
  --_16q18zo1f: 168px;
  --_16q18zo1g: 192px;
  --_16q18zo1h: 240px;
  --_16q18zo1i: 288px;
  --_16q18zo1j: 378px;
  --_16q18zo1k: 416px;
  --_16q18zo1l: 40px;
  --_16q18zo1m: 34px;
  --_16q18zo1n: 110px;
  --_16q18zo1o: 26px;
  --_16q18zo1p: 40px;
  --_16q18zo1q: 180px;
  --_16q18zo1r: 38px;
  --_16q18zo1s: 45px;
  --_16q18zo1t: 120px;
  --_16q18zo1u: 22px;
  --_16q18zo1v: 27px;
  --_16q18zo1w: 48px;
  --_16q18zo1x: 30px;
  --_16q18zo1y: 16px;
  --_16q18zo1z: 20px;
  --_16q18zo20: 26px;
  --_16q18zo21: 40px;
  --_16q18zo22: 535px;
  --_16q18zo23: 17px;
  --_16q18zo24: 12px;
  --_16q18zo25: 65px;
  --_16q18zo26: 370px;
  --_16q18zo27: 8px;
  --_16q18zo28: 16px;
  --_16q18zo29: 24px;
  --_16q18zo2a: 9999px;
  --_16q18zo2b: 99;
  --_16q18zo2c: 102;
  --_16q18zo2d: 90;
  --_16q18zo2e: 100;
  --_16q18zo2f: 110;
  --_16q18zo2g: 200;
  --_16q18zo2h: 201;
  --_16q18zo2i: 250;
  --_16q18zo2j: 81;
  --_16q18zo2k: 82;
  --_16q18zo2l: 80;
  --_16q18zo2m: 200;
  --_16q18zo2n: 201;
  --_16q18zo2o: 190;
  --_16q18zo2p: 0.4s;
  --_16q18zo2q: 50ms;
  --_16q18zo2r: 5s;
  --_16q18zo2s: 0.3s;
  --_16q18zo2t: 0.4s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  width: 100%;
  height: 100%;
}
