.Vertical_wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: red;
}
.Vertical_wrapper_video_sec {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: hidden;
}
.Vertical_wrapper_video_sec-1 {
  clip-path: inset(0 0 0 0);
  height: 100%;
}
.Vertical_wrapper_video_sec-2 {
  clip-path: inset(100% 0 0 0);
}
.Vertical_wrapper_video_sec-3 {
  clip-path: inset(100% 0 0 0);
}
.Vertical_wrapper_video_sec_common img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.Vertical_wrapper .tile__inner {
  position: absolute;
  bottom: 3.125rem;
  left: 0px;
  right: 0px;
  width: max-content;
  margin: 0px auto;
  z-index: 10;
  text-align: center;
}
.tiles_inner_text {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
  margin: 0px auto 1.5rem;
}
.tiles_inner_text a {
  text-decoration: underline;
  color: #fff;
}
.Vertical_wrapper .tiles_inner_text h1 {
  font-size: 4vw;
  line-height: 0.8;
  letter-spacing: -0.04em;
  font-weight: 200;
}
.tiles_inner_button {
  position: relative;
  color: #fff;
}
.tiles_inner_button span {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-decoration: underline;
}
/* How_to_Nail_it_Cntr */
#How_to_Nail_it_Cntr {
  width: 100%;
  position: relative;
  background-color: #eeff04;
  padding-bottom: 20.5882352941vw;
  padding-top: 16.4705882353vw;
  position: relative;
}
#How_to_Nail_it_Cntr .row {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 106.25rem;
  padding-left: 5.8823529412vw;
  padding-right: 5.8823529412vw;
}
#How_to_Nail_it_Cntr .row.how_we_picture {
  align-items: center;
  justify-content: center;
}
#How_to_Nail_it_Cntr .how_we_picture_inner {
  flex: 0 0 37.5%;
  max-width: 37.5%;
}
#How_to_Nail_it_Cntr .how-we-image {
  position: relative;
  text-align: center;
}
#How_to_Nail_it_Cntr .mask-memoji-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#How_to_Nail_it_Cntr .mask-memoji-wrapper .curved-text {
  left: 50%;
  position: absolute;
  top: -115px;
  transform: translateX(-50%);
}
.mask-memoji-wrapper .mask {
  border-radius: 190px;
  bottom: 0;
  clip-path: url(#mask-curve);
  -webkit-clip-path: url(#mask-curve);
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.block-bg-cover {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.block-bg-cover .element-cover {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.block-bg-cover img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.mask-memoji-wrapper .mask img {
  -o-object-position: 85% 50%;
  object-position: 85% 50%;
}
.mask-memoji-wrapper .memoji {
  position: absolute;
  top: -180px;
  transform: scale(0.58) scaleX(-1);
}
.mask-memoji-wrapper .memoji img {
  /* width: 16vw; */
  transform: rotateZ(14.6035deg);
}
#How_to_Nail_it_Cntr .nail_para_text_cntr {
  align-items: center;
  justify-content: center;
}
#How_to_Nail_it_Cntr .nail_para_text {
  flex: 0 0 25%;
  max-width: 25%;
}
#How_to_Nail_it_Cntr .nail_para_text .p-normal.text-top {
  color: #222;
  font-family: telegraf-light;
  font-size: calc(1.2875rem + 0.2vw);
  letter-spacing: -0.01em;
  line-height: 1.1em;
  margin-top: 2.6470588235vw;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
#How_to_Nail_it_Cntr .divider {
  background-color: #222;
  height: 100px;
  margin: 35px auto;
  position: relative;
  width: 1px;
}
#How_to_Nail_it_Cntr .nail_para_text-bottom {
  flex: 0 0 50%;
  max-width: 50%;
}
#How_to_Nail_it_Cntr .p-normal.text {
  color: #222;
  font-family: telegraf-light;
  font-size: calc(1.325rem + 0.4vw);
  letter-spacing: -0.02em;
  line-height: 1.3em;
  margin-bottom: 7.0588235294vw;
  position: relative;
  text-align: center;
}
#How_to_Nail_it_Cntr .pictos-wrapper {
  margin-bottom: 19.4117647059vw;
  position: relative;
}
#How_to_Nail_it_Cntr .line-wrapper,
#How_to_Nail_it_Cntr .pictos-label {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#How_to_Nail_it_Cntr .st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
#How_to_Nail_it_Cntr .st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
#How_to_Nail_it_Cntr .p-normal {
  color: #fff;
  font-family: telegraf-light;
  font-size: calc(1.475rem + 1.2vw);
  letter-spacing: -0.01em;
  line-height: 1.2em;
}
#How_to_Nail_it_Cntr .anime-container {
  margin-top: 1px;
}
#How_to_Nail_it_Cntr .anime-container svg {
  width: 100%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  contentvisibility: visible;
}
#How_to_Nail_it_Cntr .pictos-label .picto-one {
  left: 35.2941176471vw;
  position: absolute;
  text-align: center;
  top: 29.4117647059vw;
  width: 14.7058823529vw;
}
#How_to_Nail_it_Cntr .pictos-label .p-normal {
  color: #222;
  font-family: telegraf-light;
  font-size: calc(1.275rem + 0.13333vw);
  font-size: 1.3529411765vw;
  letter-spacing: 0;
  line-height: 1.3em;
}
#How_to_Nail_it_Cntr .pictos-label .picto-two {
  left: 5.8823529412vw;
  position: absolute;
  text-align: center;
  top: 64.7058823529vw;
  width: 14.7058823529vw;
}
#How_to_Nail_it_Cntr .pictos-label .picto-three {
  bottom: 29.4117647059vw;
  left: 55.8823529412vw;
  position: absolute;
  text-align: center;
  width: 14.7058823529vw;
}
#How_to_Nail_it_Cntr .pictos-label .picto-four {
  bottom: -2.9411764706vw;
  left: 17.6470588235vw;
  position: absolute;
  text-align: center;
  width: 14.7058823529vw;
}
#How_to_Nail_it_Cntr .line-wrapper svg path {
  stroke-dasharray: 8945.95;
  stroke-dashoffset: -8945.95;
}
#How_to_Nail_it_Cntr .st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.title_inner-nail {
  flex: 0 0 100%;
  max-width: 100%;
}
.title_inner-nail.columns {
  flex: 1 1 0;
  min-width: 0;
  min-width: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.title_inner-nail h2 {
  color: #222;
  position: relative;
  font-size: 12.3529411765vw;
  text-align: center;
  line-height: 0.9em;
  /* letter-spacing: -0.4em; */
  /* transform: translate(0px, 0px); */
  /* opacity: 1; */
  font-weight: 400;
}
.title_inner-nail h2 span {
  transform: translateY(60%) skewX(20deg);
  display: inline-block;
  opacity: 0;
}
.title_inner-nail h2 .serif-italic {
  font-style: italic;
}
.title_inner-nail .arrow {
  transform: translateY(-50%) scaleY(0.5);
  transform-origin: top;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  opacity: 0;
}
@media screen and (max-width: 1100px) {
  #How_to_Nail_it_Cntr .how_we_picture_inner {
    flex: 0 0 75%;
    max-width: 75%;
  }
  #How_to_Nail_it_Cntr .how-we-image {
    height: 300px;
    transform: scale(0.5);
    transform-origin: top;
  }
  #How_to_Nail_it_Cntr .nail_para_text .p-normal.text-top {
    font-size: 18px;
    line-height: 22px;
  }
  #How_to_Nail_it_Cntr .nail_para_text {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  #How_to_Nail_it_Cntr .nail_para_text-bottom {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  #How_to_Nail_it_Cntr .p-normal.text {
    font-size: 18px;
    line-height: 24px;
  }
  .title_inner-nail h2 {
    text-align: center;
  }
  .title_inner-nail .arrow {
    margin-top: 40px;
  }
  #How_to_Nail_it_Cntr .arrow svg {
    width: 64px;
  }
}
@media only screen and (max-width: 960px) {
  #How_to_Nail_it_Cntr {
    padding-top: calc(4.5rem + 17.33333vw);
  }
  #How_to_Nail_it_Cntr .row {
    padding-left: calc(2.25rem + 5.33333vw);
  }
  #How_to_Nail_it_Cntr .nail_para_text .p-normal.text-top {
    margin-top: calc(1.5625rem + 1.66667vw);
  }
  #How_to_Nail_it_Cntr .nail_para_text {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  #How_to_Nail_it_Cntr .p-normal.text {
    margin-bottom: calc(2.5rem + 6.66667vw);
  }
  .title_inner-nail h2 {
    font-size: calc(3.625rem + 12.66667vw);
  }
}
@media screen and (max-width: 835px) {
  #How_to_Nail_it_Cntr .how-we-image {
    height: 450px;
    transform: scale(0.8);
    transform-origin: top;
  }
  .title_inner-nail h2 {
    transform: scale(0.85);
  }
}
@media screen and (max-width: 767px) {
  #How_to_Nail_it_Cntr .row {
    padding-left: 20px;
    padding-right: 20px;
  }
  #How_to_Nail_it_Cntr .how-we-image {
    height: 300px;
    margin-left: -20px;
    transform: scale(0.5);
    transform-origin: top;
  }
}

@media only screen and (min-width: 1200px) {
  #How_to_Nail_it_Cntr .p-normal {
    font-size: 2.375rem;
  }
  .title_inner-nail h2 {
    font-size: 8.875rem;
  }
  #How_to_Nail_it_Cntr .pictos-label .p-normal {
    font-size: 1.375rem;
  }
  #How_to_Nail_it_Cntr .p-normal.text-top {
    font-size: 1.4375rem;
  }
  #How_to_Nail_it_Cntr .p-normal.text {
    font-size: 1.625rem;
  }
}

@media only screen and (min-width: 1700px) {
  #How_to_Nail_it_Cntr {
    padding-top: 280px;
  }
  #How_to_Nail_it_Cntr {
    padding-bottom: 350px;
  }
  #How_to_Nail_it_Cntr .row {
    padding-right: 100px;
    padding-left: 100px;
  }
  #How_to_Nail_it_Cntr .pictos-wrapper {
    margin-bottom: 330px;
  }
  #How_to_Nail_it_Cntr .pictos-label .picto-one {
    width: 250px;
  }
  #How_to_Nail_it_Cntr .pictos-label .picto-one {
    left: 600px;
  }
  #How_to_Nail_it_Cntr .pictos-label .picto-one {
    top: 500px;
  }
  #How_to_Nail_it_Cntr .pictos-label .picto-two {
    width: 250px;
  }
  #How_to_Nail_it_Cntr .pictos-label .picto-two {
    left: 100px;
  }
  #How_to_Nail_it_Cntr .pictos-label .picto-two {
    top: 1100px;
  }
  #How_to_Nail_it_Cntr .pictos-label .picto-three {
    left: 950px;
  }
  #How_to_Nail_it_Cntr .pictos-label .picto-three {
    bottom: 500px;
  }
  #How_to_Nail_it_Cntr .pictos-label .picto-four {
    left: 300px;
  }
  #How_to_Nail_it_Cntr .pictos-label .picto-four {
    bottom: -50px;
  }
}
/* How_to_Nail_it_Cntr */

/* ShopCards_section */
.ShopCards_section {
  position: relative;
  overflow: hidden;
}
.ShopCards_container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: var(--_16q18zo17);
}
@media only screen and (min-width: 1120px) {
  .ShopCards_container {
    padding-bottom: var(--_16q18zo1c);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: var(--_16q18zo18);
  }
}
/* ShopCards_section */
